<% provide(:title, 'Contact') %>
    <h1>Contact</h1>
    <p>
      The <a href="http://google.com/">Google Site</a>
      - you can find us in Google. XOXOXO
      This
      is the sample application for the tutorial. Or not =)
    </p>
